<!-- <!DOCTYPE html>
<html>
<head>
      <title>Event Listing</title>
    </head>
    <body>
        <ul>
        {% for event in events %}
        <li>{{ event.name }} LOCATION: {{ event.location}} DESCRIPTION: {{ event.description }}
        {% endfor %}
        </ul>

    </body>
    </html> -->

{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
    <ul>
    {% for event in events %}
    <li>{{ event.name }} LOCATION: {{ event.location}} DESCRIPTION: {{ event.description }}
    {% endfor %}
    </ul>
{% endblock content %}
